@font-face {
  font-family: "Hun2";
  src: url("fonts/hun2.ttf") format("truetype");
}
@font-face {
  font-family: "Hun2 Cheeky";
  src: url("fonts/hun2-cheeky.ttf") format("truetype");
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Hun2", "Hun2 Cheeky", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  background-image: url(assets/canvas.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  z-index: 11;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #343642;
  box-shadow: 0 0 8px #000;
  background: linear-gradient(to bottom,#272931 0,#17191d 100%);
}
header h1 {
  color: #747d99;
  font-size: 2.25em;
  margin: 10px 15px 0 17px;
  font-weight: 400;
}
header .user-data {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 10px;
}
header .user-data .notification {
  width: 120px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #12090a;
}
header .user-data .notification img {
  width: 32px;
  height: auto;
}
header .user-data .user {
  width: 260px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0a090b;
  margin-left: 10px;
}
header .user-data .user .user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
header .user-data .user .user__info h3 {
  margin: 0;
  font-size: 27px;
  color: #FFF;
}
header .user-data .user .user__info img {
  width: 90px;
  height: auto;
}
header .user-data .user .user__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202;
  padding: 15px;
}
header .user-data .user .user__logo img {
  width: 35px;
  height: auto;
}
main {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 11;
}
main .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main .container .bar {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 8px #000;
}
main .container .bar img {
  width: auto;
  height: 96px;
  margin-top: 15px;
}
main .container .bar .bar__text {
  position: absolute;
  top: 18px;
  left: 270px;
  margin-left: -20px;
}
main .container .bar .bar__text h2 {
  margin: 0;
  font-size: 48px;
}
main .container .bar .bar__text p {
  margin: 0;
  font-size: 24px;
}
main .container .multiplayer {
  background-color: #3e2936;
  border-top: 3px solid #472d3d;
  border-left: 3px solid #3c2734;
  border-bottom: 3px solid #271b22;
}
main .container .solo {
  background-color: #242336;
  border-top: 3px solid #2e2d42;
  border-left: 3px solid #272639;
  border-bottom: 3px solid #12111b;
}
main .container .channel {
  background-color: #1c3e2a;
  border-top: 3px solid #1d6429;
  border-left: 3px solid #1e4822;
  border-bottom: 3px solid #0e130f;
}
main .container .config {
  background-color: #222e4a;
  border-top: 3px solid #1d3164;
  border-left: 3px solid #1e2a48;
  border-bottom: 3px solid #0e0f13;
}
main .container .about {
  background-color: #222222;
  border-top: 3px solid #2a2a2a;
  border-left: 3px solid #262626;
  border-bottom: 3px solid #131313;
}
main .container .multiplayer .bar__text h2 {
  color: #f1bcdb;
}
main .container .solo .bar__text h2 {
  color: #dfddff;
}
main .container .channel .bar__text h2 {
  color: #82f593;
}
main .container .config .bar__text h2 {
  color: #88afff;
}
main .container .about .bar__text h2 {
  color: #b8b8b8;
}
main .container .multiplayer .bar__text p {
  color: #be90ab;
}
main .container .solo .bar__text p {
  color: #817db3;
}
main .container .channel .bar__text p {
  color: #50be64;
}
main .container .config .bar__text p {
  color: #455ba5;
}
main .container .about .bar__text p {
  color: #707070;
}
footer {
  width: 100%;
  height: 52px;
  display: flex;
  z-index: 11;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom,#1a1b1f 0,#2a2c32 100%);
  border-top: 2px solid #25262f;
}
footer p {
  font-size: 28px;
  color: #898fa2;
  margin: 0;
  margin-left: 15px;
}
footer .options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#osk {
  width: auto;
  height: 27px;
  cursor: pointer;
}
footer .options .black {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 14px;
  margin-top: -10px;
  cursor: pointer;
  background-color: #1a1b1f;
  border-top: 3px solid #373a45;
  border-left: 3px solid #24262c;
  border-right: 3px solid #0e0f11;
}
footer .options .black img {
  width: auto;
  height: 28px;
}
footer .options .red {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin: 0 14px;
  margin-top: -10px;
  background-color: #3c261a;
  border-top: 3px solid #683825;
  border-left: 3px solid #4f3426;
  border-right: 3px solid #2c1b12;
}
footer .options .red img {
  width: auto;
  height: 32px;
}
#logo {
  width: 180px;
  height: auto;
  position: absolute;
  bottom: 65px;
  left: 15px;
}
#layer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000000;
  opacity: 0.5;
}